<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OrgPortalMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
<!--AutoInstallTime deprecated, now it's user settings-->
    <!--<add key="AutoInstallTime" value="120" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <OrgPortalMonitor.Properties.Settings>
      <setting name="AutoStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OrgPortalUrl" serializeAs="String">
        <value>http://store.zollie.com.br/api/</value>
      </setting>
      <setting name="PackageFamilyName" serializeAs="String">
        <value>34993Zollie.ZollieOrgPortal_mcdpzngym7t32</value>
      </setting>
      <setting name="WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="AutoInstall" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoInstallMinutes" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MonitorInstalledApps" serializeAs="String">
        <value>True</value>
      </setting>
    </OrgPortalMonitor.Properties.Settings>
  </userSettings>
</configuration>