<div class="jumbotron">
  <!--<h1>Zollie OrgPortal</h1>
  <p class="lead">OrgPortal is a way of deploying WinRT apps to client workstations without using the public store.</p>-->
  <p>
      <a href="http://store.zollie.com.br/orgportalmonitor/OrgPortalMonitor.application?AutoStart=True&AutoInstall=True&AutoInstallMinutes=60&PackageFamilyName=34993Zollie.ZollieOrgPortal_mcdpzngym7t32&OrgPortalUrl=http://store.zollie.com.br/api/" class="btn btn-primary btn-large">Abrir Aplica&ccedil;&atilde;o Sync &raquo;</a>
  @*<a href="http://store.zollie.com.br/orgportalmonitor/setup.exe" class="btn btn-primary btn-large">Instalar Pr&eacute;-requisitos &raquo;</a>*@
  </p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <table id="appList">
            <thead>
                <tr>
                    <th>Applications</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Loading...</td></tr>
            </tbody>
        </table>

    </div>
</div>*@

@section scripts
{
<script type="text/javascript">
    var getApps = function () {
        $('#appList').slideUp(500, function () {
            $.get('@Url.RouteUrl("DefaultApi", new { httproute = true, controller = "apps" })', function (results) {
                $('#appList tbody tr').remove();
                results.forEach(function(result) {
                    $('#appList tbody').append(
                        '<tr>' +
                          '<td>'  + '<a href="' + result.AppxUrl + '">' + result.DisplayName + '('+ result.Version +')</a>' +
                          '</td>' +
                        '</tr>');
                });
                $('#appList').slideDown(500);
            });
        });
    };

    var getCategories = function () {
        $.get('@Url.RouteUrl("DefaultApi", new { httproute = true, controller = "categories" })', function (results) {
            for (var i = 0; i < results.length; i++) {
                $('<option value="' + results[i].ID + '">' + results[i].Name + '</option>').appendTo($('select[name=categoryID]'));
            }
        });
    };

    $(function () {
        //getApps();
        //getCategories();
    })
</script>
}